---
---

@import "{{ site.theme }}";

table {
   border-collapse: collapse;
 }

 table, td, th {
   border: 1px solid black;
 }

 .feature__item{
   float:left;margin-bottom:0;
   width:46.2033898305%
 }
